<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
{{> head}}
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{{level}}css/login-5.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{{level}}plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="{{level}}plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class=" login">
<!-- BEGIN : LOGIN PAGE 5-1 -->
<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 bs-reset">
            <div class="login-bg" style="background-image:url({{level}}img/login/bg1.jpg)">
                <img class="login-logo" src="{{level}}img/login/logo.png" /> </div>
        </div>
        <div class="col-md-6 login-container bs-reset">
            <div class="login-content">
                <h1>Inicio de sesión</h1>
                <p> Bienvenidos a Dynamite Docs, ingrese el usuario y contraseña que le proveyó su administrador. </p>
                <form action="javascript:;" class="login-form" method="post">
                    <div class="row">
                        <div class="col-xs-6">
                            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" required/> </div>
                        <div class="col-xs-6">
                            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Contrase&ntilde;a" name="password" required/> </div>
                    </div>
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span>Ingrese el usuario y contraseña </span>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="rem-password">
                                <p>Recordarme
                                    <input type="checkbox" class="rem-checkbox" />
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-8 text-right">
                            <div class="forgot-password">
                                <a href="javascript:;" id="forget-password" class="forget-password">Olvido su contraseña?</a>
                            </div>
                            <button class="btn blue" type="submit">Iniciar sesi&oacute;n</button>
                        </div>
                    </div>
                </form>
                <!-- BEGIN FORGOT PASSWORD FORM -->
                <form class="forget-form" action="javascript:;" method="post">
                    <h3 class="font-green">Olvido su contrase&ntilde;a ?</h3>
                    <p> Ingrese su direcci&oacute;n de correo para restablecer su contrase&ntilde;a. </p>
                    <div class="form-group">
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
                    <div class="form-actions">
                        <button type="button" id="back-btn" class="btn grey btn-default">Volver</button>
                        <button type="submit" class="btn blue btn-success uppercase pull-right">Enviar</button>
                    </div>
                </form>
                <!-- END FORGOT PASSWORD FORM -->
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-4 bs-reset">
                        <ul class="login-social">
                            <li>
                                <a href="https://twitter.com/sintecsas" target="_blank">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/Sintec-SAS-394376703905712" target="_blank">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-8 bs-reset">
                        <div class="login-copyright text-right">
                            <p>{{currentYear}} &copy; Dynamite Docs.</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END : LOGIN PAGE 5-1 -->

<!-- BEGIN JAVASCRIPTS -->
{{> scripts}}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{{level}}plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="{{level}}plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="{{level}}plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="{{level}}plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{level}}scripts/login-5.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>